[submodule "submodules/qos"]
	path = submodules/qos
	url = https://github.com/lilvinz/qos.git
[submodule "submodules/chibios"]
	path = submodules/chibios
	url = https://github.com/lilvinz/chibios.git
[submodule "submodules/format"]
	path = submodules/format
	url = https://github.com/lilvinz/format.git
