[submodule "submodules/flashtool"]
	path = submodules/flashtool
	url = https://github.com/lilvinz/flashtool.git
[submodule "submodules/qos"]
	path = submodules/qos
	url = https://github.com/lilvinz/qos.git
[submodule "submodules/chibios"]
	path = submodules/chibios
	url = https://github.com/lilvinz/chibios.git
[submodule "submodules/format"]
	path = submodules/format
	url = https://github.com/lilvinz/format.git
[submodule "submodules/fatfs"]
	path = submodules/fatfs
	url = https://github.com/lilvinz/fatfs.git
[submodule "submodules/minini"]
	path = submodules/minini
	url = https://github.com/lilvinz/minini.git
