code/main/system/local_texts_cpp.c
code/main/system/local_texts_cpp.h
code/main/system/local_texts_log.c
code/main/system/local_texts_log.h
code/main/system/local_texts_log_cpp.c
code/main/system/local_texts_log_cpp.h

.settings
.cproject
.project
.metadata

*.o
*.elf
*.bin
*.hex
*.lss
*.srec
*.enc
build
firmware
*.bz2
